<?xml version="1.0"?>
<configuration>
  <!--Manejo de versiones; -->
  <!--Archivo para manejar versiones
  Funcion :
    Contiene informacion de la ultima version disponible para actualizar
    
    Como funciona:
      El equipo de desarrollo hace los cambios
      Actualiza la version disponible en este archivo 
      Sube este archivo al FTP
      Sube el ultimo bin y script sql
  -->
  <appSettings>
    <!-- version de programa -->
    <add key="versionUsuario" value="23.0.0"/>
    <add key="version" value="23"/>
  </appSettings>

</configuration>