<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Inv.UI.Win.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>

      <!--<add name="cnnInventario" connectionString="Data Source=(local);Initial catalog=Premium_DeisiProd01022018;Integrated Security=false; user id=sa; password=sasasa ;" providerName="System.Data.SqlClient"/>-->
      <add name="cnnInventario" connectionString="Data Source=(local);Initial catalog=TraverLima;Integrated Security=false; user id=sa; password=sasasa ;" providerName="System.Data.SqlClient"/>
      <add name="cnnInventarioAzure" connectionString="Data Source=traverbd.westus.cloudapp.azure.com;Initial catalog=Premium_DeisiProd1512;Integrated Security=false; user id=sa; password=12ab/*- ;" providerName="System.Data.SqlClient"/>


      <add name="cnnInventariopro" connectionString="Data Source=servidor\sql2008r2;Initial catalog=Premium_Deisi;Integrated Security=false; user id=sa; password=sasasa;"
              providerName="System.Data.SqlClient" />
      
		<!--<add name="cnnInventario" connectionString="Data Source=jose\sql2008r2;Initial catalog=Premium_Deisi;Integrated Security=false; user id=sa; password=sasasa ;"
            providerName="System.Data.SqlClient" />-->
		
		<!--<add name="cnnInventario" connectionString="Data Source=jose\sql2008r2;Initial catalog=Premium_DeisiProd;Integrated Security=false; user id=sa; password=sasasa ;"
            providerName="System.Data.SqlClient" /> -->
        <add name="Inv.UI.Win.Properties.Settings.Connection" connectionString="dd"/>
    </connectionStrings>
    
    <!--
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
-->
    
    <startup useLegacyV2RuntimeActivationPolicy="true">
        <requiredRuntime version="v4.0.30319"/>
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
    <userSettings>
        <Inv.UI.Win.Properties.Settings>
            <setting name="SkyLight" serializeAs="String">
                <value>White</value>
            </setting>
        </Inv.UI.Win.Properties.Settings>
    </userSettings>
</configuration>
